.p-Home.TextBox18{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-Home.TextBox26{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-Home.TextBox35,
.p-Home.TextBox60,
.p-Home.TextBox96,
.p-Home.TextBox98,
.p-Home.TextBox149,
.p-Home.TextBox155,
.p-Home.TextBox43,
.p-Home.TextBox44,
.p-Home.TextBox48,
.p-Home.TextBox52,
.p-Home.TextBox55{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#root{
    overflow-x: hidden;
}

.p-Home.Image42{
    filter: grayscale(100%);
}
